$bodyBackground: hsl(211, 61%, 10%);
$contentBackground: hsl(210, 75%, 13%);
$postBackground: hsl(210, 75%, 13%, 0.65);
$activeBackground: hsl(211, 60%, 19%);
$hoverBackground: hsla(212, 57%, 46%, 0.09);
$hoverColor: hsl(180, 20%, 95%);
$borderBlue: hsl(210, 100%, 30%);
$iconBlue: hsl(211, 60%, 19%);
$textGray: hsl(210, 12%, 73%);
$textWhite: hsl(180, 18%, 87%);
$textBlue: hsl(210, 100%, 70%);
$errorColor: hsl(5, 80%, 50%);
$successBackground: hsl(163, 80%, 30%, 0.5);
$unfollowBg: hsl(212, 61%, 19%);

// size
$radiusLow: 0.4rem;
$radiusMid: 0.7rem;
$radiusHigh: 1.25rem;
